@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Tahu";
  src: url("../fonts/tahu-webfont.woff2") format("woff2"),
    url("../fonts/tahu-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: $colorPrimaryLight;
  h1 {
    @include websiteFont(400, $colorNeutralDark, $h1mobile) {
      margin: $space4 0 $space1 0;
      max-width: 800px;
      margin-bottom: $space5;
      position: relative;
      @media screen and ($tablet) {
        margin-bottom: calc($space5 * 2);
      }
    }
    span.decor {
      display: block;
      font-family: $webFontDecor;
      position: absolute;
      font-weight: 400;
      font-size: $decorMobile;
      left: 4rem;
      @media screen and ($tablet) {
        font-size: $decorDesktop;
      }
    }
  }
  h2 {
    @include websiteFont(600, $colorNeutralDark, $subheadingMobile) {
      margin: $space1 0;
      margin-bottom: $space3;
      max-width: 600px;
    }
  }
  h3 {
    @include websiteFont(500, $colorNeutralDark, $subheadingMobile) {
      margin: $space2 0;
      max-width: 600px;
    }
  }
  h4 {
    @include websiteFont(500, $colorNeutralDark, $subheadingMobile) {
      margin: $space4 0;
    }
  }
  p {
    @include websiteFont(400, $colorNeutralDark, $p) {
      margin: 1rem 0;
      max-width: 600px;
    }
    span {
      display: inline-block;
    }
  }
  @media screen and ($tablet) {
    h1 {
      font-size: $h1desktop;
    }
    h2,
    h3,
    h4 {
      font-size: $subheadingDesktop;
    }
  }
  a {
    font-family: $webFont;
    text-decoration: none;
    color: inherit;
    &.primary {
      display: inline-block;
      display: flex;
      justify-content: center;
      @include button($colorSecondary, none, white);
      border: 1px solid $colorSecondary;
      @media screen and (min-width: 500px) {
        min-width: 286px;
      }
      &:hover {
        background-color: $colorPrimary;
        border-color: $colorPrimary;
      }
    }
    &.secondary {
      display: inline-block;
      @include button(transparent, 1px solid $colorSecondary, $colorSecondary);
      @media screen and (min-width: 500px) {
        min-width: 286px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
  button.primary {
    @include button($colorSecondary, none, white);
    font-family: $webFont;
    @media screen and (min-width: 500px) {
      min-width: 286px;
    }
    &:hover {
      background-color: $colorPrimary;
    }
  }
  button.secondary {
    @include button(transparent, 1px solid $colorSecondary, $colorSecondary);
    font-family: $webFont;
    padding: $space1 $space2;
    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
  header {
    & > h1 {
      display: none;
    }
  }
  .container {
    width: 90%;
    margin: 0 auto;
    @media screen and ($tablet) {
      width: 85%;
    }
  }
}
.d-none {
  display: none;
}
.background-image {
  display: none;
  @media screen and ($desktop) {
    display: block;
  }
  height: 100vh;
  width: 100%;
  background-image: url("../assets/hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: -200px;
  z-index: -1;
  aspect-ratio: 1366/1080;
}
.mobile-background-image {
  height: 100vw;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../assets/heromobile.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1080/1080;
  @media screen and ($desktop) {
    display: none;
  }
}
img.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: $space4 0;
  @media screen and ($tablet) {
    margin: $space5 0 $space4 0;
  }
}
.icon {
  margin-right: $space1;
}
.hero {
  min-height: 100vh;

  .hero-content {
    a {
      margin: 0;
    }
    & > div:last-child {
      padding: $space3 0;
      display: flex;
      flex-direction: column;
      gap: $space3;
    }
    @media screen and ($tablet) {
      & > div:last-child {
        flex-direction: row;
      }
    }
  }
}
.form-section {
  min-height: 100vh;

  div {
    max-width: 600px;
  }
  padding: $space5 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
footer {
  background-color: $colorPrimary;
  min-height: 50vh;
  color: white;
  position: relative;
  padding: $space5 0;
  h4,
  address,
  p {
    color: white;
  }

  .social-icons {
    margin-top: $space5;
    @media screen and (min-width: 500px) {
      text-align: right;
      margin-top: 0;
    }
    .social-icon {
      margin: $space2;
    }
  }
}
.scroll-to-top-btn {
  display: none;
  @include button(transparent, 1px solid $colorNeutralDark, $colorNeutralDark);
  font-family: $webFont;
  position: fixed;
  bottom: $space5;
  right: 5%;
  width: 3rem;
  height: 3rem;
  z-index: 99;
  margin: 0;
  padding: 0;
  div {
    width: 1rem;
    height: 1rem;
    border-top: 1px solid $colorNeutralDark;
    border-left: 1px solid $colorNeutralDark;
    transform: rotate(45deg);
    position: relative;
    left: 14px;
    top: 4px;
  }
  @media screen and ($desktop) {
    display: block;
    right: $space3;
  }
}
.cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $colorNeutralDark;
  z-index: 10;
  padding: 0 5%;
  @media screen and ($tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space2;
  }
  button.secondary {
    margin: $space2 0;
  }
  p {
    @include websiteFont(300, white, 0.8rem);
    max-width: 90%;
  }
}
