//colors
$colorPrimary: #4BC8E6;
$colorSecondary: #6EC846;
$colorPrimaryLight: #ecf9fc;
$colorPrimaryDark: #255FAA;

$colorNeutralDark: rgb(40, 40, 40);
$colorNeutralLight: rgb(220, 220, 220);

$colorAlert: #db295b;

//fonts
$webFont: "Montserrat", sans-serif;
$webFontDecor: "Tahu";

//fonts' sizes
$h1desktop: 3rem;
$subheadingDesktop: 1.5rem;
$decorDesktop: 10rem;

$h1mobile: 2.25rem;
$subheadingMobile: 1.25rem;
$decorMobile: 6rem;

$p: 1rem;


//spaces
$space1: 0.5rem;
$space2: 1rem;
$space3: 1.5rem;
$space4: 2rem;
$space5: 5rem;


//borders
$borderRadius: .25rem; 


//screen sizes
$tablet: "min-width: 900px";
$desktop: "min-width: 1200px";